<div class="inner-panel">


    <div class="">
      <!-- <ngx-skeleton-loader *ngIf="data.length==0" count="8" appearance="line" animation="pulse"></ngx-skeleton-loader>  -->
      <div *ngIf="loading" class="overlay">
        <mat-spinner></mat-spinner>
      </div>

     


      <div class="my-card-footer theme2">
        <mat-card-header class="text-uppercase">
          MTTR ANALYSIS
        </mat-card-header>
      </div>

      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let element of totalCategory" class="example-item">
          <div class="t-flex">
            <div class="text-uppercase">{{element.Tag}}</div>
            <div>
              <span class="my-badge defaultBadge">
                {{element.hours}} hr
              </span>

              <span class="my-badge defaultBadge">
                / {{element.count}} count
              </span>
              
              
              <mat-progress-bar mode="determinate" [value]="element.hours"></mat-progress-bar>

            </div>

            
          </div>
        
        </div>
      </cdk-virtual-scroll-viewport>

    </div>


</div>