.dashboard-content{
    padding: 2em;
}
.container-fluid{
    position: relative;
}
.overlay{
    background: rgba(0,0,0,.4);
    position: absolute;width:100%;height: 100%;top:0;left:0;right:0;z-index: 999;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.test{
    background:url("/../assets/inspirisys-logo.png") ;
    height: 200px;
}
.result1{
    background-color: #fff;
}
.result2{
    background: linear-gradient(45deg, #b0cbf8, #f1f6fd    );
    box-shadow: 0 2px 4px #444;
}
.result3{
    background: linear-gradient(45deg, #fff, #f1f6fd    );
    box-shadow: 0 2px 4px #444;
}
.mat-card-content{
    position: relative;
}
.mat-card-content .abs-content{
    position: absolute;
    min-width: 60px;
    min-height: 60px;
    z-index: 1;
    top: -70px;
    display: flex;
    justify-content: center;    align-items: center;
    box-shadow: 0 1px 2px #000;
}
.abs1,.abs2,.abs3,.abs4{
    background-color:#b0cbf8 !important;
}
.abs1{
    background-color: orange;

}
.abs2{
    background-color: blueviolet;

}
.abs3{
    background-color: green;

}
.abs4{
    background-color: maroon;

}
.abs-content mat-icon{
color:#fff;
}
.result1 mat-card-subtitle{
    color:#24244e;
}
mat-card-content,mat-card-subtitle{
    text-align: right;
    text-transform: uppercase;
}
mat-card-content{
    font-size: 2em;
    color:#444;font-weight:300;
    
}
.result1 mat-card-content mat-icon{
    text-shadow: 0 1px 2px #000;
}
.container-fluid{
    position: relative;
}
.floating{
    // background-color: #333FFF;
    position: absolute;z-index: 2;
    // width: 30px;
    height: 30px;
    // width: 100%;
    top:110px;right: 2px;
}
.wordCloud{
    background-color: #6387c3;
}
.heatCnt{
    background-color: #e4edfc;
}