.dashboard-content{
    padding: 2em;
}
.result1{
    background-color: #fff;
}
.result2{
    background: linear-gradient(45deg, #b0cbf8, #f1f6fd    );
    box-shadow: 0 2px 4px #444;
}
.result3{
    background: linear-gradient(45deg, #fff, #f1f6fd    );
    box-shadow: 0 2px 4px #444;
}
.mat-card-content{
    position: relative;
}
.mat-card-content .abs-content{
    position: absolute;
    min-width: 60px;
    min-height: 60px;
    z-index: 1;
    top: -70px;
    display: flex;
    justify-content: center;    align-items: center;
}
.abs1{
    background-color: orange;

}
.abs2{
    background-color: blueviolet;

}
.abs3{
    background-color: green;

}
.abs4{
    background-color: maroon;

}
.abs-content mat-icon{
color:#fff;
}
mat-card-content,mat-card-subtitle{
    color:#5970c3;text-align: right;
    text-transform: uppercase;
}
mat-card-content{
    font-size: 1.4em;
}
.container-fluid{
    position: relative;
}
.floating{
    // background-color: #333FFF;
    position: absolute;z-index: 2;
    // width: 30px;
    height: 30px;
    // width: 100%;
    top:110px;right: 2px;
}
.wordCloud{
    background-color: #6387c3;
}
.heatCnt{
    background-color: #e4edfc;
}