<div class="container-fluid">

    <div class="overlay" *ngIf="loader">
        <mat-spinner></mat-spinner>

    </div>

    <!-- <div class="floating">
        <button mat-fab mat-button (click)="openDialog()">
            <mat-icon>filter_list</mat-icon>

        </button>

    </div> -->
    <div class="row">

        <div class="col-md-12 dashboard-content">


            <!-- <div style="height:200px  ;overflow:scroll">
                <div *ngFor="let a of arr">
                    <pre>
                        <mat-card-subtitle>
                            {{a|json}}
                        </mat-card-subtitle>
                   
                </pre>
                </div>
            </div> -->

            <div class="row">

                <div class="col-md-3">
                    <mat-card class="card1">

                        <mat-card-subtitle>TOTAL Tickets</mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs1">
                                <mat-icon>av_timer</mat-icon>

                            </div>
                            {{jsonResponse.length>0?jsonResponse[0].TotalTickts:0}}
                            <!-- <mat-icon style="color:#ddd">bookmark_border</mat-icon> -->

                        </mat-card-content>

                        <!-- <mat-card-footer>	more</mat-card-footer> -->
                    </mat-card>

                </div>

                <div class="col-md-3">
                    <mat-card class="card2">

                        <mat-card-subtitle>Number of Months</mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs2">
                                <mat-icon>notifications_none</mat-icon>

                            </div>
                            {{jsonResponse.length>0?jsonResponse[0].totalMonths:0}}
                            <!-- <mat-icon style="color:green">arrow_upward</mat-icon> -->

                        </mat-card-content>

                        <!-- <mat-card-footer>	more</mat-card-footer> -->
                    </mat-card>
                </div>

                <div class="col-md-3">
                    <mat-card class="card3">

                        <mat-card-subtitle>Total Service Requests</mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs3">
                                <mat-icon>library_books</mat-icon>

                            </div>
                            {{jsonResponse.length>0?jsonResponse[0].totalServReq:0}}
                            <!-- <mat-icon style="color:#ddd">
                                change_history</mat-icon> -->

                        </mat-card-content>

                        <!-- <mat-card-footer>	more</mat-card-footer> -->
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="card4">

                        <mat-card-subtitle>Total Incident </mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs4">
                                <mat-icon>list_alt</mat-icon>

                            </div>


                            {{totalResolvedData.length}}
                            <!-- <mat-icon style="color:red">arrow_downward</mat-icon> -->

                        </mat-card-content>

                        <!-- <mat-card-footer>	more</mat-card-footer> -->
                    </mat-card>
                </div>


            </div>


            <div class="row">
                <div class="col-md-12 ">
                    <mat-card class=" mt-4 mb-3 wordCloud">

                        <angular-tag-cloud (clicked)="log('clicked', $event)" [data]="data" [width]="options.width"
                            [height]="options.height" [overflow]="options.overflow" [zoomOnHover]="options.zoomOnHover"
                            [realignOnResize]="options.realignOnResize">
                        </angular-tag-cloud>
                    </mat-card>
                </div>


            </div>

            <!-- -->


            <div class="row ">
                <!-- tag vs tag count -->
                <div class="col-md-12">
                    <mat-card *ngIf="newMTTRList.length>0" class="result2 mt-4 mb-3">
                        <app-filter-dialog [pattern]="'tags'" [startDate]="dateFrom" [endDate]="dateTo" (_getFilter)="getFilter($event)"
                            [widget]="'tags'">

                        </app-filter-dialog>
                        <app-plotly [loader]="loading" [totalCategory]="newMTTRList" [newLabel]="newLabel"
                            pMap="tag-Bar"></app-plotly>


                    </mat-card>
                </div>

              
            </div>



            <div class="row">
                <div class="col-md-12">

                    <mat-card  class=" mt-4 mb-3 heatCnt">

                        <app-filter-dialog [widget]="'heat'">

                        </app-filter-dialog>
                        <app-heatmap-plotly [zAxis]="TrendAnalysis.zAxis" [yAxis]="TrendAnalysis.yAxis"
                            [xAxis]="TrendAnalysis.xAxis"></app-heatmap-plotly>
                    </mat-card>

                </div>

            </div>

            <!-- Priority vs Priority count -->
            <div class="row ">

                <div class="col-md-12">
                    <mat-card class="result2 mt-4 mb-3">
                        <app-filter-dialog [pattern]="'priority'" [startDate]="dateFrom" [endDate]="dateTo" (_priorityFilter)="getPriorityFilter($event)"
                            [widget]="'tags'">

                        </app-filter-dialog>
                        <app-plotly [loader]="loading" [Priority]="TrendAnalysis.Priority"
                            [newLabel]="TrendAnalysis.PriorityLabel" pMap="bar">

                        </app-plotly>


                    </mat-card>
                </div>
            </div>


            <div class="row ">
                <!-- tag vs tag count -->
                <div class="col-md-12">
                    <mat-card *ngIf="newMTTRList.length>0" class="result2 mt-4 mb-3">
                        <!-- <app-filter-dialog [startDate]="dateFrom" [endDate]="dateTo" (_getFilter)="getFilter($event)"
                            [widget]="'tags'">

                        </app-filter-dialog> -->
                        <app-plotly [loader]="loading" [totalCategory]="newMTTRList" [newLabel]="'MTTR analysis'"
                            pMap="pie"></app-plotly>


                    </mat-card>
                </div>

              
            </div>

            <div class="row ">

                <div class="col-md-12">
                    <mat-card class="result2 mt-4 mb-3">
                        <app-leaflet></app-leaflet>


                    </mat-card>
                </div>

            </div>

        </div>
    </div>
</div>