<!-- <div class="overlay" *ngIf="loader">
    <mat-progress-spinner></mat-progress-spinner>

</div> -->
<div class="container-fluid">

    <div class="floating">
        <button mat-fab mat-button (click)="downloadCSV()">
            <mat-icon>cloud_download</mat-icon>

        </button>

    </div>
    <div class="row">

        <div class="col-md-12 dashboard-content">



            <div class="row">

                <div class="col-md-3">
                    <mat-card class="card1">

                        <mat-card-subtitle>TOTAL Tickets</mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs1">
                                <mat-icon>av_timer</mat-icon>

                            </div>
                            <ngx-skeleton-loader *ngIf="jsonResponse.length==0" count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>
                            {{jsonResponse.length>0?jsonResponse[0].TotalTickts:''}}

                        </mat-card-content>

                       
                    </mat-card>

                </div>

                <div class="col-md-3">
                    <mat-card class="card2">

                        <mat-card-subtitle>Number of Months</mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs2">
                                <mat-icon>date_range</mat-icon>

                            </div>
                            <ngx-skeleton-loader *ngIf="jsonResponse.length==0" count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>

                            {{jsonResponse.length>0?jsonResponse[0].totalMonths:''}}

                        </mat-card-content>

                    </mat-card>
                </div>

                <div class="col-md-3">
                    <mat-card class="card3">

                        <mat-card-subtitle>Total Service Requests</mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs3">
                                <mat-icon>library_books</mat-icon>

                            </div>
                            <ngx-skeleton-loader *ngIf="jsonResponse.length==0" count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>

                            {{jsonResponse.length>0?jsonResponse[0].totalServReq:''}}
                            

                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="card4">

                        <mat-card-subtitle>Total Incident </mat-card-subtitle>
                        <mat-card-content>
                            <div class="abs-content abs4">
                                <mat-icon>list_alt</mat-icon>

                            </div>
                            <ngx-skeleton-loader *ngIf="jsonResponse.length==0" count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>

                            {{jsonResponse.length>0?jsonResponse[0].totalIncident:''}}
                        
                        </mat-card-content>

                    </mat-card>
                </div>


            </div>


            <div class="row">
                <div class="col-md-12 ">
                    <mat-card class=" mt-4 mb-3 wordCloud">
                        <!-- <ngx-skeleton-loader *ngIf="data.length==0" count="8" appearance="line" animation="pulse"></ngx-skeleton-loader> -->

                        <angular-tag-cloud (clicked)="log('clicked', $event)" [data]="data" [width]="options.width"
                            [height]="options.height" [overflow]="options.overflow" [zoomOnHover]="options.zoomOnHover"
                            [realignOnResize]="options.realignOnResize">
                        </angular-tag-cloud>
                    </mat-card>
                </div>


            </div>

            <!-- -->


            <div class="row ">
                <!-- tag vs tag count -->
                <div class="col-md-12">
                    <mat-card  class="result2 mt-4 mb-3">
                        <app-filter-dialog  [startDate]="dateFrom" [endDate]="dateTo" (_getFilter)="getFilter($event)"
                            [widget]="'tags'">

                        </app-filter-dialog>
                        <app-plotly [loader]="loading" [totalCategory]="newMTTRList" [newLabel]="newLabel"
                            pMap="tag-Bar"></app-plotly>


                    </mat-card>
                </div>

              
            </div>



            <div class="row">
                <div class="col-md-12">

                    <mat-card  class=" mt-4 mb-3 heatCnt">

                        <app-filter-dialog (_TrendFilter)="TrendFilter($event)" [widget]="'heat-trend'">

                        </app-filter-dialog>
                        <app-heatmap-plotly [zAxis]="TrendAnalysis.zAxis" [yAxis]="TrendAnalysis.yAxis"
                            [xAxis]="TrendAnalysis.xAxis"></app-heatmap-plotly>
                    </mat-card>

                </div>

            </div>

            <!-- Priority vs Priority count -->
            <div class="row ">

                <div class="col-md-12">
                    <mat-card class="result2 mt-4 mb-3">
                        <app-filter-dialog [startDate]="dateFrom" [endDate]="dateTo" (_priorityFilter)="getPriorityFilter($event)"
                            [widget]="'priority'">

                        </app-filter-dialog>
                        <app-plotly [loader]="loading" [Priority]="TrendAnalysis.Priority"
                            [newLabel]="TrendAnalysis.PriorityLabel" pMap="bar">

                        </app-plotly>


                    </mat-card>
                </div>
            </div>


            <div class="row ">
                <!-- tag vs tag count -->
                <div class="col-md-12">
                    <mat-card *ngIf="newMTTRList.length>0" class="mybg result2 mt-4 mb-3">
                        <!-- <app-filter-dialog [startDate]="dateFrom" [endDate]="dateTo" (_getFilter)="getFilter($event)"
                            [widget]="'tags'">

                        </app-filter-dialog> -->
                        <div class="row">
                            <div class="col-md-6">
                                <app-progressive-activity [loader]="loading" [totalCategory]="newMTTRList" [newLabel]="'MTTR analysis'">
                                    
                                </app-progressive-activity>
                            </div>
                            <div class="col-md-6">
                                <app-plotly [loader]="loading" [totalCategory]="newMTTRList" [newLabel]="'MTTR analysis'"
                                pMap="pie"></app-plotly>
    

                            </div>
                        </div>
                        

                    </mat-card>
                </div>

              
            </div>

            <div class="row ">

                <div class="col-md-12">
                    <mat-card class="result2 mt-4 mb-3">
                        <app-leaflet></app-leaflet>


                    </mat-card>
                </div>

            </div>

        </div>
    </div>
</div>