<h2 mat-dialog-title style="color:#444">Filter By</h2>

<div class="myform">
  <form [formGroup]="newForm" class="example-form">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field color="primary" class="example-full-width" appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput type="date" formControlName="START_DATE"  placeholder="Choose a date">
          <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>End Date</mat-label>

          <input matInput type="date" formControlName="END_DATE"  placeholder="Choose a date">
          <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker> -->
        </mat-form-field>
      </div>

      <div class="col-md-3">

        <mat-form-field *ngIf="widget=='heat'" class="example-full-width" appearance="outline">
          <mat-label>Select</mat-label>
          <mat-select formControlName="heatMapFilterBy" multiple="false">
            <mat-select-trigger>

            </mat-select-trigger>
            <mat-option *ngFor="let item of FilterBy" [value]="item.key">
              {{item.key}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button [disabled]="!newForm.valid" mat-raised-button (click)="onConfirmClick()">Search</button>
      </div>
    </div>


  </form>
</div>


<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button [disabled]="!myForm.valid" mat-button (click)="onConfirmClick()" [mat-dialog-close]="true" cdkFocusInitial>Search</button>
</mat-dialog-actions> -->