/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.common-btn,button{
    background: #b8860b !important;
}
.mybg{
  background: radial-gradient(circle at 10% 20%, #f1bdd9 0%, #e0c9f3 90%) !important;
}
.overlay{
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}
