/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.common-btn,button{
    background: #b8860b !important;
}
.overlay{
    background: rgba(0,0,0,.4);
    position: absolute;width:100%;height: 100%;top:0;left:0;right:0;z-index: 999;
  
  display: flex;
  justify-content: center;
  align-items: center;
}