.dashboard-content{
    
    background: #f3f3f3;
    height: 100vh;
}
.result2{
    // background:#fff;
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);

    height: 80vh;
    // background: linear-gradient(45deg, #e6dbfe, #f2edfe    );
    box-shadow: 0 3px 10px #864efc;
}
.file-upload{
    border: 3px dotted #5d36b0;
    height: 240px;

}

.drop_box {
    margin: 10px 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    height: 340px;
    border-radius: 5px;position: relative;
  }
  
  .drop_box h4 {
    // font-size: 16px;
    font-weight: 400;
    color: #444;
  }
  
  .drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
  }
  
.btn {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .btn:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
  }
  