* { box-sizing: border-box }

body{
  margin:0;
  padding:0;
  color: white;
  font-family:sans-serif;
/*   font-size:160%; */
}

header, footer{
  background-color:#002848;
  min-height: 40px;
}
.logo img{
  max-height: 80px;
  margin: 0px auto;
}
.landing-bg{
  
  background-color: rgb(152, 75, 215);
  background-image: -webkit-linear-gradient(30deg,rgb(152, 75, 215) 50%, #fff 50%);
  min-height: 100vh;
  position: relative;
}
.mat-card{
  background: radial-gradient(circle at 10% 20%, rgb(210, 36, 129) 0%, rgb(152, 75, 215) 90%) !important;

  box-shadow: 0 3px 10px #864EFC !important;
}
.content-wrapper{
  position: absolute;
  top:50%;transform: translateY(-50%);
  z-index: 999;
  // background: red;
  width: 100%;
}

  .example-full-width {
    width: 100%;
  }
  .myform{
    
  }