<div *ngIf="loader==true" class="overlay">
    <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>
<div class="row">
    <div class="col-md-12 result2">
        <!-- <plotly-plot (hover)="hover($event)" (mouseleave)="mouseLeave($event)" [useResizeHandler]="true"
            [data]="graph.data" [layout]="layOut"></plotly-plot> -->

        <plotly-plot fxFlex="50" [data]="graph1.data" [layout]="graph1.layout" [useResizeHandler]="true"
            (hover)="hover($event)" (mouseleave)="mouseLeave($event)"></plotly-plot>

    </div>
    <!-- <div class="col-md-6">

        <plotly-plot [data]="(interactivePlotSubject$ | async)" [layout]="graph2.layout" [useResizeHandler]="true">
        </plotly-plot>
    </div> -->

</div>